html{
  html {
    box-sizing: border-box;
    font-family: Karma, serif;
    line-height: 1.5;
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
  }

  li {
border: 3px solid #987ffa;
border-radius: 6px;
list-style: none;
  }

  h2 {
    color: #6f00e7;
    font-size: 2rem;
    font-family: Oswald, sans-serif;
  }

  p {
  font-family: Karma, serif;
  font-size: 1.4rem;
  }

  .cart-button {
font-family: Oswald, sans-serif;
background-color: #6f00e7;
color: white;
border-radius: 3em;
  }

.products {
  max-width: 100%;

}

.share {
  align-content: flex-end;
}

div {
  justify-content: space-between;
}

body {
  margin: 0;
}
