html{
  html {
    box-sizing: border-box;
    font-family: Karma, serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  ul{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  li{
border: 3px solid #987ffa;
border-radius: 6px;
  }
